/* Other existing CSS */

#Experiencia {
  background-color: #0099ff; /* Your desired blue color */
}

.textoBlanco {
  text-align: center; /* Center text within the .textoBlanco container */
}

.textoBlanco h2 {
  color: #fff;
  margin: 0; /* Remove default margins */
  padding: 20px 0; /* Optional: Add padding for spacing */
}

.cards {
  display: flex; /* Already set for horizontal arrangement */
  flex-wrap: nowrap; /* Prevent wrapping to multiple lines */
  gap: 15px;
  justify-content: center; /* Center the cards horizontally */
}

.cards .red {
  background-color: #f43f5e;
}

.cards .blue {
  background-color: #3b82f6;
}

.cards .green {
  background-color: #22c55e;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.cards {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping to multiple lines if needed */
  gap: 15px;
}

.section-class {
  margin: 0;
  padding: 0;
}

.parent-container {
  display: flex; /* Or display: grid; */
  gap: 0;
}

.body {
  background-color: #0099ff;
}
