/* header.css */

/* Estilos para el header */
header {
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    display: flex; /* Utilizar flexbox */
    align-items: center; /* Centrar verticalmente */
    justify-content: space-around; /* Distribuir los elementos uniformemente */
  }
  
  /* Estilos para el título */
  .titulo {
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
  }
  
  /* Estilos para los enlaces */
/* header.css */

.link {
  margin: 0 10px; /* Ajusta el espaciado entre los enlaces según tu preferencia */
}

.link a {
  text-decoration: none; /* Quita el subrayado predeterminado de los enlaces */
  color: #ffffff; /* Color del texto del enlace */
  font-size: 16px; /* Tamaño del texto del enlace */
  font-weight: bold; /* Peso de la fuente del enlace */
}

.link a:hover {
  color: #007bff; /* Cambia el color del texto cuando el cursor se sitúa sobre el enlace */
}

  .link:first-child {
    margin-left: 0; /* Eliminar margen izquierdo para el primer enlace */
  }
  